body {
    padding-top: 40px;
}
/************* header styling **************/
.active {
    color-adjust: red;
}

.topNew {
    color: black;
}

.topNew:hover {
    color: black;
    text-decoration: none;
}

.header {
    margin-bottom: 40px;
}

/************* styling for Story titles and links **********/
.storyTitle, .titleLink {
    color: rgb(185, 56, 56);
}

.titleLink:hover {
    color: inherit;
    text-decoration: none;
}
.storyDetails {
    color: rgb(124, 122, 122)
}
.descriptionLink {
    color: black;
    text-decoration: underline;
}
.descriptionLink:hover {
    color: black;
}

/************* spacing for User about and posts **************/
.aboutUser {
    margin-bottom: 40px;
}